<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcode.zjw.security.mapper.GhdqsOampRoleMapper">
	<!-- GhdqsOampRole的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_GhdqsOampRole_Map" type="com.zcode.zjw.security.entity.GhdqsOampRole">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="ROLE_KEY" property="roleKey" />
		<result column="STATUS" property="status" />
		<result column="DEL_FLAG" property="delFlag" />
		<result column="CREATE_BY" property="createBy" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_BY" property="updateBy" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<!-- assist是查询辅助工具类, ${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据查询辅助工具类,作用assist与一致 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.customRequire !=null">
					<foreach collection="req.customRequire" item="cr" separator=" ">
						${cr.require}
						<if test="cr.value != null">
							#{cr.value}
						</if>
						<if test="cr.values != null">
							<foreach collection="cr.values" item="value"
								separator=",">
								#{value}
							</foreach>
						</if>
						<if test="cr.suffix != null"> ${cr.suffix}</if>
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- 数据库中表名为:GHDQS_OAMP_ROLE的列名 -->
	<sql id="GHDQS_OAMP_ROLE_Column">
		ID,NAME,ROLE_KEY,STATUS,DEL_FLAG,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME,REMARK
	</sql>

	<!--获得类名为:GhdqsOampRole对应的数据库表的数据总行数 -->
	<select id="getGhdqsOampRoleRowCount" parameterType="com.zcode.zjw.common.utils.db.Assist" resultType="java.lang.Long">
		select count(*) from GHDQS_OAMP_ROLE
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</select>
	
	<!-- 获得类名为:GhdqsOampRole对应数据库中表的数据集合 -->
	<select id="selectGhdqsOampRole" parameterType="com.zcode.zjw.common.utils.db.Assist" resultMap="result_GhdqsOampRole_Map">
	  select * from
      (
        select  rownum as page,result.* from
        (
          select  <if test="distinct !=null">${distinct}</if>
            <choose>
    	        <when test="resultColumn!=null">${resultColumn}</when>
    	        <otherwise><include refid="GHDQS_OAMP_ROLE_Column" /></otherwise>
            </choose>
              from GHDQS_OAMP_ROLE 
                <if test="require!=null"><include refid="assist" /></if>
                <if test="order !=null">${order}</if>
            ) result 
            <if test="rowSize!=null">where rownum &lt;= <if test="startRow!=null">#{startRow}+</if>#{rowSize}</if>
        )
        <if test="startRow!=null">where page &gt; #{startRow} </if>
	</select>
	<!-- 通过GhdqsOampRole的id获得对应数据库中表的数据对象 -->
	<select id="selectGhdqsOampRoleById" parameterType="Integer" resultMap="result_GhdqsOampRole_Map">
		select
		<include refid="GHDQS_OAMP_ROLE_Column" />
		from GHDQS_OAMP_ROLE
		where ID = #{id}
	</select>
	
	<!-- 获得一个GhdqsOampRole对象,以参数GhdqsOampRole对象中不为空的属性作为条件进行查询 -->
	<select id="selectGhdqsOampRoleObjSingle" parameterType="com.zcode.zjw.security.entity.GhdqsOampRole" resultMap="result_GhdqsOampRole_Map">
		select
		<include refid="GHDQS_OAMP_ROLE_Column" />
		from GHDQS_OAMP_ROLE
		<where>
		<if test="name != null"> and NAME = #{name}</if>
		<if test="roleKey != null"> and ROLE_KEY = #{roleKey}</if>
		<if test="status != null"> and STATUS = #{status}</if>
		<if test="delFlag != null"> and DEL_FLAG = #{delFlag}</if>
		<if test="createBy != null"> and CREATE_BY = #{createBy}</if>
		<if test="createTime != null"> and CREATE_TIME = #{createTime}</if>
		<if test="updateBy != null"> and UPDATE_BY = #{updateBy}</if>
		<if test="updateTime != null"> and UPDATE_TIME = #{updateTime}</if>
		<if test="remark != null"> and REMARK = #{remark}</if>
		<if test="id != null"> and ID = #{id} </if>
		and rownum = 1
		</where>
	</select>
	
	<!-- 获得GhdqsOampRole对象,以参数GhdqsOampRole对象中不为空的属性作为条件进行查询 -->
	<select id="selectGhdqsOampRoleByObj" parameterType="com.zcode.zjw.security.entity.GhdqsOampRole" resultMap="result_GhdqsOampRole_Map">
		select
		<include refid="GHDQS_OAMP_ROLE_Column" />
		from GHDQS_OAMP_ROLE
		<where>
		<if test="name != null"> and NAME = #{name}</if>
		<if test="roleKey != null"> and ROLE_KEY = #{roleKey}</if>
		<if test="status != null"> and STATUS = #{status}</if>
		<if test="delFlag != null"> and DEL_FLAG = #{delFlag}</if>
		<if test="createBy != null"> and CREATE_BY = #{createBy}</if>
		<if test="createTime != null"> and CREATE_TIME = #{createTime}</if>
		<if test="updateBy != null"> and UPDATE_BY = #{updateBy}</if>
		<if test="updateTime != null"> and UPDATE_TIME = #{updateTime}</if>
		<if test="remark != null"> and REMARK = #{remark}</if>
		<if test="id != null"> and ID = #{id} </if>
		</where>
	</select>

	<!-- 将GhdqsOampRole插入到对应数据库的表中,包括属性值为null的数据 -->
	<insert id="insertGhdqsOampRole" parameterType="com.zcode.zjw.security.entity.GhdqsOampRole">
		insert into 
		GHDQS_OAMP_ROLE (ID,NAME,ROLE_KEY,STATUS,DEL_FLAG,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME,REMARK) 
		values(#{id},#{name},#{roleKey},#{status},#{delFlag},#{createBy},#{createTime},#{updateBy},#{updateTime},#{remark})
	</insert>

	<!-- 将GhdqsOampRole中属性值不为null的数据,插入到对应数据库的表中 -->
	<insert id="insertNotNullGhdqsOampRole" parameterType="com.zcode.zjw.security.entity.GhdqsOampRole">
		insert into GHDQS_OAMP_ROLE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="name != null">NAME,</if>
			<if test="roleKey != null">ROLE_KEY,</if>
			<if test="status != null">STATUS,</if>
			<if test="delFlag != null">DEL_FLAG,</if>
			<if test="createBy != null">CREATE_BY,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="updateBy != null">UPDATE_BY,</if>
			<if test="updateTime != null">UPDATE_TIME,</if>
			<if test="remark != null">REMARK,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="name != null">#{name},</if>
			<if test="roleKey != null">#{roleKey},</if>
			<if test="status != null">#{status},</if>
			<if test="delFlag != null">#{delFlag},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="remark != null">#{remark},</if>
		</trim>
	</insert>

	<!-- 将GhdqsOampRole批量插入到对应数据库的表中 -->
	<insert id="insertGhdqsOampRoleByBatch" parameterType="ArrayList">
		insert into GHDQS_OAMP_ROLE(ID,NAME,ROLE_KEY,STATUS,DEL_FLAG,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME,REMARK) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.name},#{item.roleKey},#{item.status},#{item.delFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark})
		</foreach>
	</insert>
	
	<!-- 通过GhdqsOampRole的id将数据库表中对应的数据删除 -->
	<delete id="deleteGhdqsOampRoleById" parameterType="Integer">
		delete from GHDQS_OAMP_ROLE
		where  ID  =  #{id}
	</delete>

	<!-- 通过辅助工具Assist中的条件将GhdqsOampRole对应的数据库表的数据删除 -->
	<delete id="deleteGhdqsOampRoleByAssist" parameterType="com.zcode.zjw.common.utils.db.Assist">
		delete from GHDQS_OAMP_ROLE
		<if test="require!=null">
			<include refid="assist" />
		</if>
	</delete>
	
	<!-- 通过GhdqsOampRole的id将GhdqsOampRole的数据更新到数据库中对应的表,包括值null的数据 -->
	<update id="updateGhdqsOampRoleById" parameterType="com.zcode.zjw.security.entity.GhdqsOampRole">
		update GHDQS_OAMP_ROLE set
		<set>
			NAME = #{name} , 
			ROLE_KEY = #{roleKey} , 
			STATUS = #{status} , 
			DEL_FLAG = #{delFlag} , 
			CREATE_BY = #{createBy} , 
			CREATE_TIME = #{createTime} , 
			UPDATE_BY = #{updateBy} , 
			UPDATE_TIME = #{updateTime} , 
			REMARK = #{remark} , 
		</set>
		where ID = #{id}
	</update>
	
	<!-- 通过GhdqsOampRole的id将GhdqsOampRole中属性值不为null的数据更新到数据库对应的表中 -->
	<update id="updateNotNullGhdqsOampRoleById" parameterType="com.zcode.zjw.security.entity.GhdqsOampRole">
		update GHDQS_OAMP_ROLE
		<set>
					<if test="name != null">NAME = #{name},</if>
					<if test="roleKey != null">ROLE_KEY = #{roleKey},</if>
					<if test="status != null">STATUS = #{status},</if>
					<if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
					<if test="createBy != null">CREATE_BY = #{createBy},</if>
					<if test="createTime != null">CREATE_TIME = #{createTime},</if>
					<if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
					<if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
					<if test="remark != null">REMARK = #{remark},</if>
		</set>
		where ID = #{id}
	</update>
	
	<!-- 通过辅助工具Assist中的条件将GhdqsOampRole中的数据更新到数据库对应的表中,包括值为null的数据 -->
	<update id="updateGhdqsOampRole" parameterType="map">
		update GHDQS_OAMP_ROLE
		<set>
			ID = #{enti.id},
			NAME = #{enti.name},
			ROLE_KEY = #{enti.roleKey},
			STATUS = #{enti.status},
			DEL_FLAG = #{enti.delFlag},
			CREATE_BY = #{enti.createBy},
			CREATE_TIME = #{enti.createTime},
			UPDATE_BY = #{enti.updateBy},
			UPDATE_TIME = #{enti.updateTime},
			REMARK = #{enti.remark},
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>

	<!-- 通过辅助工具Assist中的条件将GhdqsOampRole中属性值不为null的数据更新到数据库对应的表中 -->
	<update id="updateNotNullGhdqsOampRole" parameterType="map">
		update GHDQS_OAMP_ROLE
		<set>
			<if test="enti.id != null">ID = #{enti.id},</if>
			<if test="enti.name != null">NAME = #{enti.name},</if>
			<if test="enti.roleKey != null">ROLE_KEY = #{enti.roleKey},</if>
			<if test="enti.status != null">STATUS = #{enti.status},</if>
			<if test="enti.delFlag != null">DEL_FLAG = #{enti.delFlag},</if>
			<if test="enti.createBy != null">CREATE_BY = #{enti.createBy},</if>
			<if test="enti.createTime != null">CREATE_TIME = #{enti.createTime},</if>
			<if test="enti.updateBy != null">UPDATE_BY = #{enti.updateBy},</if>
			<if test="enti.updateTime != null">UPDATE_TIME = #{enti.updateTime},</if>
			<if test="enti.remark != null">REMARK = #{enti.remark},</if>
		</set>
		<if test="assist.require!=null">
			<include refid="updateAssist" />
		</if>
	</update>
</mapper>